  <h2>User info</h2>

    <%= image_tag 'no_image', size: "200x200" %>
    <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= @user.name  %></th>
        </tr>
        <tr>
          <th>introducution</th>
          <th><%= @user.introduction %></th>
        </tr>
      </tbody>
    </table>

    <h1>New book</h1>
      <%= form_with model: Book.new do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>

    <h4>Opinion</h4>
    <%= f.text_area :body %>

    <div class="form-group">
      <%= f.submit 'Create Book' %>
    </div>

    <h2>Books</h2>
    <tbody>
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
      <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
      <% end %>
    </table>
    </tbody>

    <% end %>